
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container" *ngIf="projects">
    <div class="row">
        <div class="col-12 col-sm-4 mb-3" *ngFor="let project of projects">
            <div class="card">
                <img [src]="project.hero" class="card-img-top" alt="{{project.name}}" title="{{project.name}}" />
                <div class="card-body">
                    <h5 class="card-title">{{project.name}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>
<ng-template #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
</ng-template>